.items {
    width: 90%;
    flex-wrap: wrap;
    margin: 2rem auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

@media screen and (max-width:500px) {
    .items {
        flex-direction: column;
        align-items: center;
    }
}