.container {
    margin: 1rem auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    /* background-color: red; */

}

.container .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* background-color: blue; */
}

.container .img img {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    height: 20rem;
    width: 20rem;
}

.container .content {
    width: 60%;
    padding: 1rem;
}

.container .productName {
    font-size: 2rem;
    color: rgb(90, 90, 90);
    margin: 1rem 0;
}

/* .container .img .rating {
    display: block;
} */

.container .productPrice {
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
    margin: 1rem 0;
}

#addItem {
    margin-left: 1rem;
}



.container .content .description {
    width: 70%;
    color: rgb(90, 90, 90);
    line-height: 1.5rem;
}

.container .content .description .title {
    margin: 1rem 0;
}

.container .content form {
    display: flex;
    align-items: center;
}

@media screen and (max-width:800px) {
    .container {
        flex-direction: column;
    }

    .container .img {
        width: 100%;
    }

    .container .img img {
        height: 15rem;
        width: 70%;
    }

    .container .content,
    .container .content .description {
        width: 100%;
    }

    .productName,
    .productPrice,
    .description {
        text-align: center;
    }

    .container .content form {
        justify-content: center;
    }
}